p {
    color: rgb(146, 79, 28);
    background-color: rgb(204, 243, 164);
}

body {
    background-color: darkkhaki;
    color: rgb(10, 97, 46);
}

a {
    color: rgb(51, 138, 79);
    background-color: rgb(177, 228, 119);
    font-size: small;
}

h2 {
    color: rgb(68, 90, 60);
}

label {
    background-color: chartreuse;
    color: blueviolet;
}

select {
    background-color: aqua;
    color: brown;
}

iframe {
    background-color: aquamarine;
    color: blueviolet;
}